
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
    padding-block: 20px;
}

.flex {
    display: flex;  
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}


h2.titulo {
    color: #000;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00ff08;
}

/* header */

header {
    background-color: #000;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;    
}

.navbar a img {
    padding: 10px;
    width: 170px;
    height: 90px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    z-index: 99999;
    top: 0;
    right: 0;
    transition: .5s;
}

.nav-branding {
    font-size: 1.8rem;
    color: #00ff08;
}

.nav-link a {
    margin-right: 20px;
    transition: .5s ease-in;
}

.nav-link:hover {
    color: #00ff08;
    transform: scale(1.05);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


.overlay-menu {
    background-color: #000000a7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}



/* topo do site */

section.topo-do-site{
    padding: 40px 4%;
    margin-block: 30px;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #000;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00ff08;
}

.topo-do-site .txt-topo-site p {
    color: #000;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    width: 380px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


/* especialidades */

section.especialidades {
    padding: 40px 4%;
    background-color: #e5e5e5;
 }

section.especialidades .flex {
    gap: 60px;
    margin-top: 50px;
}

.especialidades .especialidades-box {
    color: #000;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #000000b7;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00ff08;

}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;

}

/* sobre */

section.sobre {
    padding: 80px 4%;
    margin-block: 40px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.img-sobre img {
    width: 300px;
    height: 400px;
    border-radius: 30px;
}

.sobre .txt-sobre {
    color: #000;

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00ff08;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
    padding-bottom: 20px;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #00ff08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}

/* portifolio */

section.portifolio{
    padding: 80px 4%;
    background-color: #e5e5e5;
    box-shadow: 0px 0px 40px 10px #ffffff1d;
}

section.portifolio .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
    gap: 50px;
}

.img-port {
    margin-bottom: 50px;
    width: 360px;
    height: 560px;
    cursor: pointer;
    border-radius: 40px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 7s;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: #e5e5e5;
    opacity: 0;
    transition: .5s;
}

.overlay p {
    padding: 20px;
}

.overlay:hover{
    opacity: 1;
}

/* formularios  */

section.formulario {
    padding: 80px 4%;

}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color: #e5e5e5;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    height: 200px;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit] {
    width: 120px;
    background-color: #00ff08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input[type=submit]:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

/*  rodape   */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    background-color: #000;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

footer .line-footer p i {
    color: #00ff08;
    font-size: 22px;
}

footer .line-footer a {
    color: #fff;
}

.borda {
    border-top: 2px solid #00ff08;
}


@media screen and (max-width: 1020px) {
    /* gerais */

    .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* header */

    .nav-link {
        padding-block: 10px;
    }

    .nav-link:hover {
        background-color: #00ff08;
        color: #000;
        padding: 10px 200px;
    
    }

    /* topo do site   */   

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /*  especialisdades   */

    section.especialidades{
        padding: 40px  12%;
    }

    /* sobre   */

    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    /* portifolio */

    section.portifolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex {
        gap: 60px;
    }

    /* rodape */

    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }

}













